Backup/TR/Presentation/TR.UI.Process/Service References/TrainingWorkflowServiceReference1/TrainingWorkflowService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6092/TrainingWorkflowService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TR.Entities" />
  <xs:element name="Apply">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TR.Entities" minOccurs="0" name="trainingRequest" nillable="true" type="q1:TrainingRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TR.Entities" minOccurs="0" name="ApplyResponseResult" nillable="true" type="q2:TrainingRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Approve">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TR.Entities" minOccurs="0" name="trainingRequest" nillable="true" type="q3:TrainingRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Cancel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TR.Entities" minOccurs="0" name="trainingRequest" nillable="true" type="q4:TrainingRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Reject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TR.Entities" minOccurs="0" name="trainingRequest" nillable="true" type="q5:TrainingRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>